
<div class="wrapper">
    <h1> <title>{{title}}</title></h1>
    <div class="container">
        <p>Title: {{title}} <br> Author: {{author}} <br> Work Id: {{id}}</p>
        <form action="/favorites/edit" onsubmit="location.href='favorites'" method="get">
            <div class="form-group">
                <label for="author">Edit Author</label>
                <input type="text" name="author" id="author">
            </div>
            <div class="form-group">
                <label for="id">Edit Title</label>
                <input type="text" name="title" id="title">
            </div>
            <div class="form-group">
                <label for="Critic">Critic</label>
                <textarea name="Critic" rows="10" cols="30" id="critic" placeholder="Type your critic">
                </textarea>
            </div>
            <input type="submit" value="Edit Favorite" onclick= "edit('title' , 'author' ,'{{id}}', 'critic')" class="jsfav">
        </form>
    </div>
</div>